# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (added later)
*.pkl
*.joblib
.venv-1/
__pycache__/
*.pyc

logs/
data/predictions.db

models/*.joblib
data/test_predictions.db
.env
.venv/
__pycache__/
.pytest_cache/
data/test_predictions.db